/* You can add global styles to this file, and also import other style files */

.demo-toggle-title {
  margin-top: 0.5rem;
}

.top-bar {
  width: 100%;
}

.top-bar-left {
  display: block;
}

.menu .active {
  font-weight: bold;
}

/* Top Nav */
.top-nav {
    width: 100%;
    border-top: 3px solid #1d5ea8 !important;
    background: #333333 !important;
    padding: 0;
    margin: 0;
    color: white;
    a {
      color: white;
    }
}

.top-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

    li{
      list-style: none;
      float: left;
      padding: 10px 10px;
      color: white;
      font-size: 14px;
    }

    li:first-child{
      padding-left:0;
    }

    li i{
      padding-right: 8px;
    }
}
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1d5ea8;
  border-color: #1d5ea8;
  color: #fefefe;
}

#home {
  width: 100%;
  background: url('../img/images.jpg') no-repeat -100px 0;
  min-height: 350px;
  /* Showcase */
    .showcase-box{
      padding:100px 130px;

      //background:blue;
      color:white;
      //border-top-right-radius: 10px;
      //border-top-left-radius: 10px;

      p{
        border-bottom:1px #ccc solid;
        padding-bottom:10px;
      }
      .showcase-box-bottom{
        //background: white;
        padding:10px 30px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .pricing span{
          font-size:35px;
          font-weight:bold;
        }

        .start-link{
          padding-top:20px;

          a{
            color:rgb(255, 255, 255);
          }
        }
      }
    }
}

#about {
  h2 {
    color: #1d5ea8 !important;
  }
}

#service {
  #service-background {
      width: 100%;
      background: url('../img/background.jpg') no-repeat center ;
      min-height: 350px;
      padding-top: 100px;
      color: $white;
  }
}

#mechanic {
  #mechanic-background {
    width: 100%;
    background: url('../img/mechanic/mechanic-background.jpg') no-repeat center;
    min-height: 350px;
    padding-top: 20px;
    padding-left: 50px;
    color: $white;

  }
  #testimonial-background {
    width: 100%;
    background: url('../img/mechanic/testimonial-bg.jpg') no-repeat center center;
    min-height: 350px;
    padding-top: 20px;
    padding-left: 50px;
    color: $white;

    .thumbnail {
      border-radius: 100%;
    }
    }

}

$card-product-hover-price-color: $primary-color;
$card-product-hover-font-size: 1.5rem;
$card-product-hover-title-font-size: 1.4rem;

.card-product-hover-title {
  font-size: $card-product-hover-title-font-size;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.card-product-hover {
  position: relative;
  line-height: 1.2rem;
  transition: all 0.35s ease;
}

.card-product-hover-details {
  @include card-section;
}

.card-product-hover-price {
  margin: 0.5rem 0;
  font-weight: 700;
  color: $card-product-hover-price-color;
  font-size: $card-product-hover-price-color;
}

.card-product-hover-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-product-hover-icons a i {
  display: block;
  font-size: 1.5rem;
  line-height: rem-calc(40);
  width: rem-calc(40);
  background-color: $white;
  text-align: center;
  color: $black;
}

.card-product-hover-icons a i:hover {
  background-color: $dark-gray;
  color: $white;
  cursor: pointer;
}

.card-product-hover-icons a {
  margin: 2px;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.35s ease;
}

.card-product-hover:hover a,
.card-product-hover.hover a {
  transition: all 0.35s ease;
  opacity: 1;
  transform: translateX(0);
}

.card-product-hover:hover a:nth-child(2),
.card-product-hover.hover a:nth-child(2) {
  transition-delay: 0.1s;
}

.card-product-hover:hover a:nth-child(3),
.card-product-hover.hover a:nth-child(3) {
  transition-delay: 0.2s;
}

// TESTIMONIAL

.featured-testimonials-section {
  //background: $light-gray;
  padding: 2rem 1rem;
  width: 100%;
  background: url('../img/mechanic/testimonial-bg.jpg') no-repeat center center;
  min-height: 350px;
  color: $white;
  .featured-testimonials-container {
    .orbit-previous {
      color: $black;
      left: -1rem;
    }

    .orbit-next {
      color: $black;
      right: -1rem;
    }
}

  .testimonial {
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
  }

  .profile-pic {
    max-width: 100px;
    border-radius: 50%;

  }

  .featured-testimonials-quotation {
    margin-left: 3rem;
    margin-bottom: 0rem;
    padding: 1rem;
    position: relative;

    &::before {
      content: "“";
      font-size: 5rem;
      color: lighten($black, 80%);
      position: absolute;
      top: -2.5rem;
      left: -1.5rem;
    }

    &::after {
      content: "”";
      font-size: 5rem;
      color: lighten($black, 80%);
      position: absolute;
      bottom: -4rem;
      right: -.5rem;
    }

    @include breakpoint(small only){
      margin-left: 0;
    }
  }
}

  /* Contact Section */
  #contact{
  	section {
  		position: relative;
  		section .container {
      		padding-top: 60px;
      		padding-bottom: 60px;
  		}
  	}
  	.container {
  		padding-left: 70px;
  		padding-right: 70px;
  	}
  }
  .bg-silver-light {
  	background-color: #F7F8FA !important;
  }


  /* Footer */
  .footer {
      color: #666666;
      font-size: 14px;
      background-color: rgb(0,16,24);
      .pad {
          padding-top: 40px;
          padding-bottom: 40px;
      }

    a {
      color: #808080;
      text-align: center;
    }
    .contact-icons {
      padding-left: 0;
      margin-left: -5px;
      list-style: none;
    }

    .social-icons {
      padding-left: 0;
      margin-left: -5px;
      list-style: none;
      float: left;
      li {
        float: left;
        list-style: none;
        padding: 10px 10px;
      }
    }
    .usefull-links {
      //list-style: outside none none;
      margin-top: 13px;
      padding-left: 0;
      li {
        border-bottom: 1px dashed #404040;
        margin-bottom: 8px;
        padding-bottom: 8px;
        list-style: none;
        margin-left: -20px;
        li a {
          margin: 5px 0;
          display: list-item;
          text-align: -webkit-match-parent;
        }
      }
    }

  .quick-contact-form{

    .form-control{
      background-color: rgba(5, 15, 5, 0.1);
      border-color: #333333;
      color: #808080;
    }

  }
    .widget-title {
      color: #fff;
      margin-bottom: 20px;
      border-bottom: 1px solid #444;
      position: relative;
      margin-bottom: 15px;
      padding-bottom: 10px;

    }
    .footer-bottom {
      border-top: 1px solid #333;
      padding-top: 10px;
      font-size: 12px !important;
      //padding-bottom: 10px;
    }
  }
